h1{
    color: brown;
    background-color: coral;
    font-size: 60px;
}
img{
    border-radius: 50%;
}
h2{
    text-align: center;
    color: brown;
    font-size: 30px;
    font font-family: cursive;
}

ol{
    list-style: none;
    font-size: 30px;
    font-family: Arial;
    text-align: center;
}

a{
    text-decoration: none;
}





