h1 {
    font-size: 60px;
    background-color:cyan;
    color: crimson;
}
img{
    width: 100%;
}
h2{
    text-align: center;
    color: darkblue;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
ul{
    list-style: none;
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}
a{
    text-decoration: none;
}
p{
    text-decoration-color: crimson;
    background-color: lime;
}
h2{
    background-color: cyan;
    
}
body{
    background-color: darkblue;
    hr

}